<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eightArchaic-sinhala</key>
	<string>eightA_rchaic-sinhala.glif</string>
	<key>fiftyArchaic-sinhala</key>
	<string>fiftyA_rchaic-sinhala.glif</string>
	<key>ninetyArchaic-sinhala</key>
	<string>ninetyA_rchaic-sinhala.glif</string>
	<key>onelith-sinhala</key>
	<string>onelith-sinhala.glif</string>
	<key>seventyArchaic-sinhala</key>
	<string>seventyA_rchaic-sinhala.glif</string>
	<key>tenArchaic-sinhala</key>
	<string>tenA_rchaic-sinhala.glif</string>
	<key>zerolith-sinhala</key>
	<string>zerolith-sinhala.glif</string>
</dict>
</plist>
