<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>770</integer>
	<key>capHeight</key>
	<integer>578</integer>
	<key>copyright</key>
	<string>Copyright (c) 2016 Pathum Egodawatta</string>
	<key>descender</key>
	<integer>-193</integer>
	<key>familyName</key>
	<string>Maname</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>460</integer>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2016/12/26 14:27:20</string>
	<key>openTypeHheaAscender</key>
	<integer>1527</integer>
	<key>openTypeHheaDescender</key>
	<integer>193</integer>
	<key>openTypeNameDesigner</key>
	<string>Pathum Egodawatta</string>
	<key>openTypeNameManufacturer</key>
	<string>mooniak</string>
	<key>openTypeNameManufacturerURL</key>
	<string>mooniak.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Maname</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1527</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>193</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>mnik</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1527</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>334</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-13</integer>
		<integer>0</integer>
		<integer>385</integer>
		<integer>400</integer>
		<integer>578</integer>
		<integer>620</integer>
		<integer>770</integer>
		<integer>786</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Maname-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-207</integer>
		<integer>-193</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>21</integer>
	<key>xHeight</key>
	<integer>385</integer>
</dict>
</plist>
