<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>51BB9282-3B82-4DF1-A67A-294D3E37D73A</key>
		<dict>
			<key>HH</key>
			<string>77</string>
			<key>HV</key>
			<string>113</string>
			<key>OH</key>
			<string>72</string>
			<key>OV</key>
			<string>127</string>
			<key>nV</key>
			<string>106</string>
			<key>nd</key>
			<string>74</string>
			<key>oH</key>
			<string>58</string>
			<key>oV</key>
			<string>117</string>
			<key>tH</key>
			<string>74</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>51BB9282-3B82-4DF1-A67A-294D3E37D73A</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>org.unifiedfontobject.normalizer.modTimes</key>
	<string>version: 0.3.3.dev0
1513412095.0 fontinfo.plist
1513412095.0 kerning.plist
1513412095.0 layercontents.plist
1513412095.0 metainfo.plist</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adblgrave</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Ainvertedbreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>DZcaron</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edblgrave</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Einvertedbreve</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idblgrave</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Iinvertedbreve</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Lj</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>NJ</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Nj</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odblgrave</string>
		<string>Odieresis</string>
		<string>Odieresismacron</string>
		<string>Odotaccentmacron</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Oinvertedbreve</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Otildemacron</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdblgrave</string>
		<string>Rinvertedbreve</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Uinvertedbreve</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adblgrave</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>ainvertedbreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dzcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edblgrave</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>einvertedbreve</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>schwa</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idblgrave</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>iinvertedbreve</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>lj</string>
		<string>lslash</string>
		<string>m</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>nj</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odblgrave</string>
		<string>odieresis</string>
		<string>odieresismacron</string>
		<string>odotaccentmacron</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>oinvertedbreve</string>
		<string>omacron</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>otildemacron</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdblgrave</string>
		<string>rinvertedbreve</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotbelow</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udblgrave</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>uinvertedbreve</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ymacron</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>k.001</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>A.sc</string>
		<string>B.sc</string>
		<string>C.sc</string>
		<string>D.sc</string>
		<string>E.sc</string>
		<string>F.sc</string>
		<string>G.sc</string>
		<string>H.sc</string>
		<string>I.sc</string>
		<string>J.sc</string>
		<string>K.sc</string>
		<string>L.sc</string>
		<string>M.sc</string>
		<string>N.sc</string>
		<string>O.sc</string>
		<string>P.sc</string>
		<string>Q.sc</string>
		<string>R.sc</string>
		<string>S.sc</string>
		<string>T.sc</string>
		<string>U.sc</string>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>X.sc</string>
		<string>Y.sc</string>
		<string>Z.sc</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>a-sinhala</string>
		<string>aa-sinhala</string>
		<string>ae-sinhala</string>
		<string>aee-sinhala</string>
		<string>ai-sinhala</string>
		<string>au-sinhala</string>
		<string>ba-sinhala</string>
		<string>bha-sinhala</string>
		<string>ca-sinhala</string>
		<string>cha-sinhala</string>
		<string>da-sinhala</string>
		<string>dda-sinhala</string>
		<string>ddha-sinhala</string>
		<string>dha-sinhala</string>
		<string>e-sinhala</string>
		<string>ee-sinhala</string>
		<string>fa-sinhala</string>
		<string>ga-sinhala</string>
		<string>gha-sinhala</string>
		<string>ha-sinhala</string>
		<string>i-sinhala</string>
		<string>ii-sinhala</string>
		<string>ja-sinhala</string>
		<string>jha-sinhala</string>
		<string>jnya-sinhala</string>
		<string>ka-sinhala</string>
		<string>kha-sinhala</string>
		<string>lVocalic-sinhala</string>
		<string>la-sinhala</string>
		<string>llVocalic-sinhala</string>
		<string>lla-sinhala</string>
		<string>ma-sinhala</string>
		<string>mba-sinhala</string>
		<string>na-sinhala</string>
		<string>nda-sinhala</string>
		<string>nga-sinhala</string>
		<string>nna-sinhala</string>
		<string>nndda-sinhala</string>
		<string>nnga-sinhala</string>
		<string>nya-sinhala</string>
		<string>nyja-sinhala</string>
		<string>o-sinhala</string>
		<string>oo-sinhala</string>
		<string>pa-sinhala</string>
		<string>pha-sinhala</string>
		<string>rVocalic-sinhala</string>
		<string>ra-sinhala</string>
		<string>rrVocalic-sinhala</string>
		<string>sa-sinhala</string>
		<string>sha-sinhala</string>
		<string>ssa-sinhala</string>
		<string>ta-sinhala</string>
		<string>tha-sinhala</string>
		<string>tta-sinhala</string>
		<string>ttha-sinhala</string>
		<string>u-sinhala</string>
		<string>uu-sinhala</string>
		<string>va-sinhala</string>
		<string>ya-sinhala</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.onum</string>
		<string>one.onum</string>
		<string>two.onum</string>
		<string>three.onum</string>
		<string>four.onum</string>
		<string>five.onum</string>
		<string>six.onum</string>
		<string>seven.onum</string>
		<string>eight.onum</string>
		<string>nine.onum</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>CR</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>space</string>
		<string>nbspace</string>
		<string>kunddaliya-sinhala</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>periodcentered.loclCAT</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>florin</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>numero</string>
		<string>cedi</string>
		<string>cent</string>
		<string>colonsign</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>euro</string>
		<string>franc</string>
		<string>guarani</string>
		<string>kip</string>
		<string>lira</string>
		<string>liraTurkish</string>
		<string>manat</string>
		<string>naira</string>
		<string>peseta</string>
		<string>peso</string>
		<string>ruble</string>
		<string>rupeeIndian</string>
		<string>sterling</string>
		<string>won</string>
		<string>yen</string>
		<string>bulletoperator</string>
		<string>divisionslash</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>micro</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>dottedCircle</string>
		<string>aaMatra-sinhala</string>
		<string>aaeMatra-sinhala</string>
		<string>aeMatra-sinhala</string>
		<string>aiMatra-sinhala</string>
		<string>anusvaraya-sinhala</string>
		<string>auMatra-sinhala</string>
		<string>eMatra-sinhala</string>
		<string>eeMatra-sinhala</string>
		<string>iMatra-sinhala</string>
		<string>iiMatra-sinhala</string>
		<string>lVocalicMatra-sinhala</string>
		<string>llVocalicMatra-sinhala</string>
		<string>oMatra-sinhala</string>
		<string>ooMatra-sinhala</string>
		<string>rVocalicMatra-sinhala</string>
		<string>rrVocalicMatra-sinhala</string>
		<string>uMatra-sinhala</string>
		<string>uuMatra-sinhala</string>
		<string>virama-sinhala</string>
		<string>visargaya-sinhala</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>caroncomb.alt</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>hookabovecomb</string>
		<string>dblgravecomb</string>
		<string>breveinvertedcomb</string>
		<string>commaturnedabovecomb</string>
		<string>horncomb</string>
		<string>dotbelowcomb</string>
		<string>dieresisbelowcomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>brevebelowcomb</string>
		<string>macronbelowcomb</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>firsttonechinese</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>.null</string>
		<string>mooniak</string>
		<string>sinBI</string>
		<string>sinBIi</string>
		<string>sinBRI</string>
		<string>sinBRIi</string>
		<string>sinBRa</string>
		<string>sinBU</string>
		<string>sinBUu</string>
		<string>sinBhI</string>
		<string>sinBhIi</string>
		<string>sinBhRI</string>
		<string>sinBhRIi</string>
		<string>sinBhRa</string>
		<string>sinBhU</string>
		<string>sinBhUu</string>
		<string>sinCI</string>
		<string>sinCIi</string>
		<string>sinCRI</string>
		<string>sinCRIi</string>
		<string>sinCRa</string>
		<string>sinCU</string>
		<string>sinCUu</string>
		<string>sinChI</string>
		<string>sinChIi</string>
		<string>sinChU</string>
		<string>sinChUu</string>
		<string>sinDDhI</string>
		<string>sinDDhIi</string>
		<string>sinDDhU</string>
		<string>sinDDhUu</string>
		<string>sinDDha</string>
		<string>sinDI</string>
		<string>sinDIi</string>
		<string>sinDRI</string>
		<string>sinDRIi</string>
		<string>sinDRa</string>
		<string>sinDU</string>
		<string>sinDUu</string>
		<string>sinDVI</string>
		<string>sinDVIi</string>
		<string>sinDVU</string>
		<string>sinDVUu</string>
		<string>sinDVa</string>
		<string>sinDdI</string>
		<string>sinDdIi</string>
		<string>sinDdRI</string>
		<string>sinDdRIi</string>
		<string>sinDdRa</string>
		<string>sinDdU</string>
		<string>sinDdUu</string>
		<string>sinDdhI</string>
		<string>sinDdhIi</string>
		<string>sinDdhU</string>
		<string>sinDdhUu</string>
		<string>sinDhI</string>
		<string>sinDhIi</string>
		<string>sinDhRI</string>
		<string>sinDhRIi</string>
		<string>sinDhRa</string>
		<string>sinDhU</string>
		<string>sinDhUu</string>
		<string>sinDrI</string>
		<string>sinDrIi</string>
		<string>sinDra</string>
		<string>sinDvocR</string>
		<string>sinDvocRr</string>
		<string>sinFI</string>
		<string>sinFIi</string>
		<string>sinFRI</string>
		<string>sinFRIi</string>
		<string>sinFRa</string>
		<string>sinFU</string>
		<string>sinFUu</string>
		<string>sinGDha</string>
		<string>sinGI</string>
		<string>sinGIi</string>
		<string>sinGRI</string>
		<string>sinGRIi</string>
		<string>sinGRa</string>
		<string>sinGU</string>
		<string>sinGUu</string>
		<string>sinGhI</string>
		<string>sinGhIi</string>
		<string>sinGhRI</string>
		<string>sinGhRIi</string>
		<string>sinGhRa</string>
		<string>sinGhU</string>
		<string>sinGhUu</string>
		<string>sinHI</string>
		<string>sinHIi</string>
		<string>sinHRI</string>
		<string>sinHRIi</string>
		<string>sinHRa</string>
		<string>sinHU</string>
		<string>sinHUu</string>
		<string>sinJI</string>
		<string>sinJIi</string>
		<string>sinJRI</string>
		<string>sinJRIi</string>
		<string>sinJRa</string>
		<string>sinJU</string>
		<string>sinJUu</string>
		<string>sinJhI</string>
		<string>sinJhIi</string>
		<string>sinJhRI</string>
		<string>sinJhRIi</string>
		<string>sinJhRa</string>
		<string>sinJhU</string>
		<string>sinJhUu</string>
		<string>sinJnyI</string>
		<string>sinJnyIi</string>
		<string>sinJnyRI</string>
		<string>sinJnyRIi</string>
		<string>sinJnyRa</string>
		<string>sinJnyU</string>
		<string>sinJnyUu</string>
		<string>sinKI</string>
		<string>sinKIi</string>
		<string>sinKRI</string>
		<string>sinKRIi</string>
		<string>sinKRa</string>
		<string>sinKSsI</string>
		<string>sinKSsIi</string>
		<string>sinKSsU</string>
		<string>sinKSsUu</string>
		<string>sinKSsa</string>
		<string>sinKU</string>
		<string>sinKUu</string>
		<string>sinKVI</string>
		<string>sinKVIi</string>
		<string>sinKVU</string>
		<string>sinKVUu</string>
		<string>sinKVa</string>
		<string>sinKhI</string>
		<string>sinKhIi</string>
		<string>sinKhRI</string>
		<string>sinKhRIi</string>
		<string>sinKhRa</string>
		<string>sinKhU</string>
		<string>sinKhUu</string>
		<string>sinLI</string>
		<string>sinLIi</string>
		<string>sinLU</string>
		<string>sinLUu</string>
		<string>sinLlI</string>
		<string>sinLlIi</string>
		<string>sinLlU</string>
		<string>sinLlUu</string>
		<string>sinMI</string>
		<string>sinMIi</string>
		<string>sinMRI</string>
		<string>sinMRIi</string>
		<string>sinMRa</string>
		<string>sinMU</string>
		<string>sinMUu</string>
		<string>sinMbI</string>
		<string>sinMbIi</string>
		<string>sinMbU</string>
		<string>sinMbUu</string>
		<string>sinNDI</string>
		<string>sinNDIi</string>
		<string>sinNDRI</string>
		<string>sinNDRIi</string>
		<string>sinNDRa</string>
		<string>sinNDU</string>
		<string>sinNDUu</string>
		<string>sinNDa</string>
		<string>sinNDhI</string>
		<string>sinNDhIi</string>
		<string>sinNDhU</string>
		<string>sinNDhUu</string>
		<string>sinNDha</string>
		<string>sinNI</string>
		<string>sinNIi</string>
		<string>sinNThI</string>
		<string>sinNThIi</string>
		<string>sinNThU</string>
		<string>sinNThUu</string>
		<string>sinNTha</string>
		<string>sinNU</string>
		<string>sinNUu</string>
		<string>sinNVI</string>
		<string>sinNVIi</string>
		<string>sinNVU</string>
		<string>sinNVUu</string>
		<string>sinNVa</string>
		<string>sinNdI</string>
		<string>sinNdIi</string>
		<string>sinNdRa</string>
		<string>sinNdU</string>
		<string>sinNdUu</string>
		<string>sinNdda</string>
		<string>sinNdjI</string>
		<string>sinNdjIi</string>
		<string>sinNdjRa</string>
		<string>sinNdjU</string>
		<string>sinNdjUu</string>
		<string>sinNgI</string>
		<string>sinNgIi</string>
		<string>sinNnI</string>
		<string>sinNnIi</string>
		<string>sinNnU</string>
		<string>sinNnUu</string>
		<string>sinNnddI</string>
		<string>sinNnddIi</string>
		<string>sinNnddU</string>
		<string>sinNnddUu</string>
		<string>sinNngI</string>
		<string>sinNngIi</string>
		<string>sinNngU</string>
		<string>sinNngUu</string>
		<string>sinNyI</string>
		<string>sinNyIi</string>
		<string>sinNyRI</string>
		<string>sinNyRIi</string>
		<string>sinNyRa</string>
		<string>sinNyU</string>
		<string>sinNyUu</string>
		<string>sinPI</string>
		<string>sinPIi</string>
		<string>sinPRI</string>
		<string>sinPRIi</string>
		<string>sinPRa</string>
		<string>sinPU</string>
		<string>sinPUu</string>
		<string>sinPhI</string>
		<string>sinPhIi</string>
		<string>sinPhU</string>
		<string>sinPhUu</string>
		<string>sinRAae</string>
		<string>sinRAe</string>
		<string>sinRI</string>
		<string>sinRIi</string>
		<string>sinRU</string>
		<string>sinRU_comma</string>
		<string>sinRU_period</string>
		<string>sinRUu</string>
		<string>sinRUu_comma</string>
		<string>sinRUu_period</string>
		<string>sinRakar</string>
		<string>sinReph</string>
		<string>sinSI</string>
		<string>sinSIi</string>
		<string>sinSRI</string>
		<string>sinSRIi</string>
		<string>sinSRa</string>
		<string>sinSU</string>
		<string>sinSUu</string>
		<string>sinShI</string>
		<string>sinShIi</string>
		<string>sinShRI</string>
		<string>sinShRIi</string>
		<string>sinShRa</string>
		<string>sinShU</string>
		<string>sinShUu</string>
		<string>sinSsI</string>
		<string>sinSsIi</string>
		<string>sinSsRI</string>
		<string>sinSsRIi</string>
		<string>sinSsRa</string>
		<string>sinSsU</string>
		<string>sinSsUu</string>
		<string>sinTI</string>
		<string>sinTIi</string>
		<string>sinTRI</string>
		<string>sinTRIi</string>
		<string>sinTRa</string>
		<string>sinTThI</string>
		<string>sinTThIi</string>
		<string>sinTThU</string>
		<string>sinTThUu</string>
		<string>sinTTha</string>
		<string>sinTU</string>
		<string>sinTUu</string>
		<string>sinTVI</string>
		<string>sinTVIi</string>
		<string>sinTVU</string>
		<string>sinTVUu</string>
		<string>sinTVa</string>
		<string>sinThI</string>
		<string>sinThIi</string>
		<string>sinThU</string>
		<string>sinThUu</string>
		<string>sinTtI</string>
		<string>sinTtIi</string>
		<string>sinTtRI</string>
		<string>sinTtRIi</string>
		<string>sinTtRa</string>
		<string>sinTtTthI</string>
		<string>sinTtTthIi</string>
		<string>sinTtTthU</string>
		<string>sinTtTthUu</string>
		<string>sinTtTtha</string>
		<string>sinTtU</string>
		<string>sinTtUu</string>
		<string>sinTthI</string>
		<string>sinTthIi</string>
		<string>sinTthU</string>
		<string>sinTthUu</string>
		<string>sinVI</string>
		<string>sinVIi</string>
		<string>sinVRI</string>
		<string>sinVRIi</string>
		<string>sinVRa</string>
		<string>sinVU</string>
		<string>sinVUu</string>
		<string>sinYI</string>
		<string>sinYIi</string>
		<string>sinYU</string>
		<string>sinYUu</string>
		<string>sinB.virama</string>
		<string>sinBR.virama</string>
		<string>sinBh.virama</string>
		<string>sinBhRa.virama</string>
		<string>sinC.virama</string>
		<string>sinCR.virama</string>
		<string>sinCh.virama</string>
		<string>sinD.virama</string>
		<string>sinDDdh.virama</string>
		<string>sinDR.virama</string>
		<string>sinDV.virama</string>
		<string>sinDd.virama</string>
		<string>sinDdR.virama</string>
		<string>sinDda.virama</string>
		<string>sinDdh.virama</string>
		<string>sinDh.virama</string>
		<string>sinDhR.virama</string>
		<string>sinF.virama</string>
		<string>sinFR.virama</string>
		<string>sinG.virama</string>
		<string>sinGR.virama</string>
		<string>sinGh.virama</string>
		<string>sinGhR.virama</string>
		<string>sinH.virama</string>
		<string>sinHR.virama</string>
		<string>sinJ.virama</string>
		<string>sinJR.virama</string>
		<string>sinJh.virama</string>
		<string>sinJhR.virama</string>
		<string>sinJny.virama</string>
		<string>sinJnyR.virama</string>
		<string>sinK.virama</string>
		<string>sinKSs.virama</string>
		<string>sinKV.virama</string>
		<string>sinKh.virama</string>
		<string>sinKhR.virama</string>
		<string>sinL.virama</string>
		<string>sinLl.virama</string>
		<string>sinM.virama</string>
		<string>sinMR.virama</string>
		<string>sinMatraAa.virama</string>
		<string>sinMatraE.salt</string>
		<string>sinMatraE.ss01</string>
		<string>sinMatraI.alt</string>
		<string>sinMatraI.alt1</string>
		<string>sinMatraI.alt2</string>
		<string>sinMatraI.alt3</string>
		<string>sinMatraIi.alt</string>
		<string>sinMatraIi.alt1</string>
		<string>sinMatraIi.alt2</string>
		<string>sinMatraIi.alt3</string>
		<string>sinMatraU.alt</string>
		<string>sinMatraU.alt1</string>
		<string>sinMatraU.alt2</string>
		<string>sinMatraU.alt3</string>
		<string>sinMatraUu.alt</string>
		<string>sinMatraUu.alt1</string>
		<string>sinMatraUu.alt2</string>
		<string>sinMatraUu.alt3</string>
		<string>sinMb.virama</string>
		<string>sinN.virama</string>
		<string>sinND.virama</string>
		<string>sinNDh.virama</string>
		<string>sinNTh.virama</string>
		<string>sinNV.virama</string>
		<string>sinNd.virama</string>
		<string>sinNdj.virama</string>
		<string>sinNdjR.virama</string>
		<string>sinNg.virama</string>
		<string>sinNn.virama</string>
		<string>sinNndd.virama</string>
		<string>sinNng.virama</string>
		<string>sinNy.virama</string>
		<string>sinNyR.virama</string>
		<string>sinP.virama</string>
		<string>sinPR.virama</string>
		<string>sinPh.virama</string>
		<string>sinR.virama</string>
		<string>sinRakar.long</string>
		<string>sinRakar.medium</string>
		<string>sinRakar.short</string>
		<string>sinS.virama</string>
		<string>sinSR.virama</string>
		<string>sinSh.virama</string>
		<string>sinShR.virama</string>
		<string>sinSs.virama</string>
		<string>sinSsR.virama</string>
		<string>sinT.virama</string>
		<string>sinTR.virama</string>
		<string>sinTTh.virama</string>
		<string>sinTV.virama</string>
		<string>sinTh.virama</string>
		<string>sinTt.virama</string>
		<string>sinTtR.virama</string>
		<string>sinTtTth.virama</string>
		<string>sinTth.virama</string>
		<string>sinV.virama</string>
		<string>sinVR.virama</string>
		<string>sinY.virama</string>
		<string>sinYI.post</string>
		<string>sinYIi.post</string>
		<string>sinYU.post</string>
		<string>sinYUu.post</string>
		<string>sinYa.post</string>
		<string>sinY.post.virama</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Abreveacute</key>
		<string>uni1EAE</string>
		<key>Abrevedotbelow</key>
		<string>uni1EB6</string>
		<key>Abrevegrave</key>
		<string>uni1EB0</string>
		<key>Abrevehookabove</key>
		<string>uni1EB2</string>
		<key>Abrevetilde</key>
		<string>uni1EB4</string>
		<key>Acircumflexacute</key>
		<string>uni1EA4</string>
		<key>Acircumflexdotbelow</key>
		<string>uni1EAC</string>
		<key>Acircumflexgrave</key>
		<string>uni1EA6</string>
		<key>Acircumflexhookabove</key>
		<string>uni1EA8</string>
		<key>Acircumflextilde</key>
		<string>uni1EAA</string>
		<key>Adblgrave</key>
		<string>uni0200</string>
		<key>Adotbelow</key>
		<string>uni1EA0</string>
		<key>Ahookabove</key>
		<string>uni1EA2</string>
		<key>Ainvertedbreve</key>
		<string>uni0202</string>
		<key>DZcaron</key>
		<string>uni01C4</string>
		<key>Ddotbelow</key>
		<string>uni1E0C</string>
		<key>Dzcaron</key>
		<string>uni01C5</string>
		<key>Ecircumflexacute</key>
		<string>uni1EBE</string>
		<key>Ecircumflexdotbelow</key>
		<string>uni1EC6</string>
		<key>Ecircumflexgrave</key>
		<string>uni1EC0</string>
		<key>Ecircumflexhookabove</key>
		<string>uni1EC2</string>
		<key>Ecircumflextilde</key>
		<string>uni1EC4</string>
		<key>Edblgrave</key>
		<string>uni0204</string>
		<key>Edotbelow</key>
		<string>uni1EB8</string>
		<key>Ehookabove</key>
		<string>uni1EBA</string>
		<key>Einvertedbreve</key>
		<string>uni0206</string>
		<key>Etilde</key>
		<string>uni1EBC</string>
		<key>Gcommaaccent</key>
		<string>uni0122</string>
		<key>Germandbls</key>
		<string>uni1E9E</string>
		<key>Idblgrave</key>
		<string>uni0208</string>
		<key>Idotbelow</key>
		<string>uni1ECA</string>
		<key>Ihookabove</key>
		<string>uni1EC8</string>
		<key>Iinvertedbreve</key>
		<string>uni020A</string>
		<key>Kcommaaccent</key>
		<string>uni0136</string>
		<key>LJ</key>
		<string>uni01C7</string>
		<key>Lcommaaccent</key>
		<string>uni013B</string>
		<key>Ldotbelow</key>
		<string>uni1E36</string>
		<key>Lj</key>
		<string>uni01C8</string>
		<key>Mdotbelow</key>
		<string>uni1E42</string>
		<key>NJ</key>
		<string>uni01CA</string>
		<key>Ncommaaccent</key>
		<string>uni0145</string>
		<key>Ndotaccent</key>
		<string>uni1E44</string>
		<key>Ndotbelow</key>
		<string>uni1E46</string>
		<key>Nj</key>
		<string>uni01CB</string>
		<key>Ocircumflexacute</key>
		<string>uni1ED0</string>
		<key>Ocircumflexdotbelow</key>
		<string>uni1ED8</string>
		<key>Ocircumflexgrave</key>
		<string>uni1ED2</string>
		<key>Ocircumflexhookabove</key>
		<string>uni1ED4</string>
		<key>Ocircumflextilde</key>
		<string>uni1ED6</string>
		<key>Odblgrave</key>
		<string>uni020C</string>
		<key>Odieresismacron</key>
		<string>uni022A</string>
		<key>Odotaccentmacron</key>
		<string>uni0230</string>
		<key>Odotbelow</key>
		<string>uni1ECC</string>
		<key>Ohookabove</key>
		<string>uni1ECE</string>
		<key>Ohornacute</key>
		<string>uni1EDA</string>
		<key>Ohorndotbelow</key>
		<string>uni1EE2</string>
		<key>Ohorngrave</key>
		<string>uni1EDC</string>
		<key>Ohornhookabove</key>
		<string>uni1EDE</string>
		<key>Ohorntilde</key>
		<string>uni1EE0</string>
		<key>Oinvertedbreve</key>
		<string>uni020E</string>
		<key>Oogonek</key>
		<string>uni01EA</string>
		<key>Otildemacron</key>
		<string>uni022C</string>
		<key>Rcommaaccent</key>
		<string>uni0156</string>
		<key>Rdblgrave</key>
		<string>uni0210</string>
		<key>Rinvertedbreve</key>
		<string>uni0212</string>
		<key>Schwa</key>
		<string>uni018F</string>
		<key>Scommaaccent</key>
		<string>uni0218</string>
		<key>Tcedilla</key>
		<string>uni0162</string>
		<key>Tcommaaccent</key>
		<string>uni021A</string>
		<key>Tdotbelow</key>
		<string>uni1E6C</string>
		<key>Udblgrave</key>
		<string>uni0214</string>
		<key>Udotbelow</key>
		<string>uni1EE4</string>
		<key>Uhookabove</key>
		<string>uni1EE6</string>
		<key>Uhornacute</key>
		<string>uni1EE8</string>
		<key>Uhorndotbelow</key>
		<string>uni1EF0</string>
		<key>Uhorngrave</key>
		<string>uni1EEA</string>
		<key>Uhornhookabove</key>
		<string>uni1EEC</string>
		<key>Uhorntilde</key>
		<string>uni1EEE</string>
		<key>Uinvertedbreve</key>
		<string>uni0216</string>
		<key>Ydotbelow</key>
		<string>uni1EF4</string>
		<key>Yhookabove</key>
		<string>uni1EF6</string>
		<key>Ymacron</key>
		<string>uni0232</string>
		<key>Ytilde</key>
		<string>uni1EF8</string>
		<key>a-sinhala</key>
		<string>uni0D85</string>
		<key>aa-sinhala</key>
		<string>uni0D86</string>
		<key>aaMatra-sinhala</key>
		<string>uni0DCF</string>
		<key>aaeMatra-sinhala</key>
		<string>uni0DD1</string>
		<key>abreveacute</key>
		<string>uni1EAF</string>
		<key>abrevedotbelow</key>
		<string>uni1EB7</string>
		<key>abrevegrave</key>
		<string>uni1EB1</string>
		<key>abrevehookabove</key>
		<string>uni1EB3</string>
		<key>abrevetilde</key>
		<string>uni1EB5</string>
		<key>acircumflexacute</key>
		<string>uni1EA5</string>
		<key>acircumflexdotbelow</key>
		<string>uni1EAD</string>
		<key>acircumflexgrave</key>
		<string>uni1EA7</string>
		<key>acircumflexhookabove</key>
		<string>uni1EA9</string>
		<key>acircumflextilde</key>
		<string>uni1EAB</string>
		<key>adblgrave</key>
		<string>uni0201</string>
		<key>adotbelow</key>
		<string>uni1EA1</string>
		<key>ae-sinhala</key>
		<string>uni0D87</string>
		<key>aeMatra-sinhala</key>
		<string>uni0DD0</string>
		<key>aee-sinhala</key>
		<string>uni0D88</string>
		<key>ahookabove</key>
		<string>uni1EA3</string>
		<key>ai-sinhala</key>
		<string>uni0D93</string>
		<key>aiMatra-sinhala</key>
		<string>uni0DDB</string>
		<key>ainvertedbreve</key>
		<string>uni0203</string>
		<key>anusvaraya-sinhala</key>
		<string>uni0D82</string>
		<key>au-sinhala</key>
		<string>uni0D96</string>
		<key>auMatra-sinhala</key>
		<string>uni0DDE</string>
		<key>ba-sinhala</key>
		<string>uni0DB6</string>
		<key>bha-sinhala</key>
		<string>uni0DB7</string>
		<key>brevebelowcomb</key>
		<string>uni032E</string>
		<key>brevecomb</key>
		<string>uni0306</string>
		<key>breveinvertedcomb</key>
		<string>uni0311</string>
		<key>bulletoperator</key>
		<string>uni2219</string>
		<key>ca-sinhala</key>
		<string>uni0DA0</string>
		<key>caroncomb</key>
		<string>uni030C</string>
		<key>caroncomb.alt</key>
		<string>uni030C.alt</string>
		<key>cedi</key>
		<string>uni20B5</string>
		<key>cedillacomb</key>
		<string>uni0327</string>
		<key>cha-sinhala</key>
		<string>uni0DA1</string>
		<key>circumflexcomb</key>
		<string>uni0302</string>
		<key>colonsign</key>
		<string>colonmonetary</string>
		<key>commaaccentcomb</key>
		<string>uni0326</string>
		<key>commaturnedabovecomb</key>
		<string>uni0312</string>
		<key>crescentMoon</key>
		<string>u1F319</string>
		<key>da-sinhala</key>
		<string>uni0DAF</string>
		<key>dblgravecomb</key>
		<string>uni030F</string>
		<key>dda-sinhala</key>
		<string>uni0DA9</string>
		<key>ddha-sinhala</key>
		<string>uni0DAA</string>
		<key>ddotbelow</key>
		<string>uni1E0D</string>
		<key>dha-sinhala</key>
		<string>uni0DB0</string>
		<key>dieresisbelowcomb</key>
		<string>uni0324</string>
		<key>dieresiscomb</key>
		<string>uni0308</string>
		<key>divisionslash</key>
		<string>uni2215</string>
		<key>dotaccentcomb</key>
		<string>uni0307</string>
		<key>dottedCircle</key>
		<string>uni25CC</string>
		<key>dzcaron</key>
		<string>uni01C6</string>
		<key>e-sinhala</key>
		<string>uni0D91</string>
		<key>eMatra-sinhala</key>
		<string>uni0DD9</string>
		<key>ecircumflexacute</key>
		<string>uni1EBF</string>
		<key>ecircumflexdotbelow</key>
		<string>uni1EC7</string>
		<key>ecircumflexgrave</key>
		<string>uni1EC1</string>
		<key>ecircumflexhookabove</key>
		<string>uni1EC3</string>
		<key>ecircumflextilde</key>
		<string>uni1EC5</string>
		<key>edblgrave</key>
		<string>uni0205</string>
		<key>edotbelow</key>
		<string>uni1EB9</string>
		<key>ee-sinhala</key>
		<string>uni0D92</string>
		<key>eeMatra-sinhala</key>
		<string>uni0DDA</string>
		<key>ehookabove</key>
		<string>uni1EBB</string>
		<key>einvertedbreve</key>
		<string>uni0207</string>
		<key>etilde</key>
		<string>uni1EBD</string>
		<key>euro</key>
		<string>Euro</string>
		<key>fa-sinhala</key>
		<string>uni0DC6</string>
		<key>firstQuarterMoonFace</key>
		<string>u1F31B</string>
		<key>firsttonechinese</key>
		<string>uni02C9</string>
		<key>foursuperior</key>
		<string>uni2074</string>
		<key>fullMoonFace</key>
		<string>u1F31D</string>
		<key>fullMoonSymbol</key>
		<string>u1F315</string>
		<key>ga-sinhala</key>
		<string>uni0D9C</string>
		<key>gcommaaccent</key>
		<string>uni0123</string>
		<key>gha-sinhala</key>
		<string>uni0D9D</string>
		<key>guarani</key>
		<string>uni20B2</string>
		<key>guillemetleft</key>
		<string>guillemotleft</string>
		<key>guillemetright</key>
		<string>guillemotright</string>
		<key>ha-sinhala</key>
		<string>uni0DC4</string>
		<key>horncomb</key>
		<string>uni031B</string>
		<key>hungarumlautcomb</key>
		<string>uni030B</string>
		<key>i-sinhala</key>
		<string>uni0D89</string>
		<key>iMatra-sinhala</key>
		<string>uni0DD2</string>
		<key>idblgrave</key>
		<string>uni0209</string>
		<key>idotaccent</key>
		<string>i.loclTRK</string>
		<key>idotbelow</key>
		<string>uni1ECB</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>ihookabove</key>
		<string>uni1EC9</string>
		<key>ii-sinhala</key>
		<string>uni0D8A</string>
		<key>iiMatra-sinhala</key>
		<string>uni0DD3</string>
		<key>iinvertedbreve</key>
		<string>uni020B</string>
		<key>ja-sinhala</key>
		<string>uni0DA2</string>
		<key>jdotless</key>
		<string>uni0237</string>
		<key>jha-sinhala</key>
		<string>uni0DA3</string>
		<key>jnya-sinhala</key>
		<string>uni0DA5</string>
		<key>ka-sinhala</key>
		<string>uni0D9A</string>
		<key>kcommaaccent</key>
		<string>uni0137</string>
		<key>kha-sinhala</key>
		<string>uni0D9B</string>
		<key>kip</key>
		<string>uni20AD</string>
		<key>kunddaliya-sinhala</key>
		<string>uni0DF4</string>
		<key>lVocalic-sinhala</key>
		<string>uni0D8F</string>
		<key>lVocalicMatra-sinhala</key>
		<string>uni0DDF</string>
		<key>la-sinhala</key>
		<string>uni0DBD</string>
		<key>lcommaaccent</key>
		<string>uni013C</string>
		<key>ldotbelow</key>
		<string>uni1E37</string>
		<key>liraTurkish</key>
		<string>uni20BA</string>
		<key>lj</key>
		<string>uni01C9</string>
		<key>llVocalic-sinhala</key>
		<string>uni0D90</string>
		<key>llVocalicMatra-sinhala</key>
		<string>uni0DF3</string>
		<key>lla-sinhala</key>
		<string>uni0DC5</string>
		<key>ma-sinhala</key>
		<string>uni0DB8</string>
		<key>macronbelowcomb</key>
		<string>uni0331</string>
		<key>macroncomb</key>
		<string>uni0304</string>
		<key>manat</key>
		<string>uni20BC</string>
		<key>mba-sinhala</key>
		<string>uni0DB9</string>
		<key>mdotbelow</key>
		<string>uni1E43</string>
		<key>micro</key>
		<string>uni00B5</string>
		<key>na-sinhala</key>
		<string>uni0DB1</string>
		<key>naira</key>
		<string>uni20A6</string>
		<key>nbspace</key>
		<string>uni00A0</string>
		<key>ncommaaccent</key>
		<string>uni0146</string>
		<key>nda-sinhala</key>
		<string>uni0DB3</string>
		<key>ndotaccent</key>
		<string>uni1E45</string>
		<key>ndotbelow</key>
		<string>uni1E47</string>
		<key>nga-sinhala</key>
		<string>uni0D9E</string>
		<key>nj</key>
		<string>uni01CC</string>
		<key>nna-sinhala</key>
		<string>uni0DAB</string>
		<key>nndda-sinhala</key>
		<string>uni0DAC</string>
		<key>nnga-sinhala</key>
		<string>uni0D9F</string>
		<key>numero</key>
		<string>uni2116</string>
		<key>nya-sinhala</key>
		<string>uni0DA4</string>
		<key>nyja-sinhala</key>
		<string>uni0DA6</string>
		<key>o-sinhala</key>
		<string>uni0D94</string>
		<key>oMatra-sinhala</key>
		<string>uni0DDC</string>
		<key>ocircumflexacute</key>
		<string>uni1ED1</string>
		<key>ocircumflexdotbelow</key>
		<string>uni1ED9</string>
		<key>ocircumflexgrave</key>
		<string>uni1ED3</string>
		<key>ocircumflexhookabove</key>
		<string>uni1ED5</string>
		<key>ocircumflextilde</key>
		<string>uni1ED7</string>
		<key>odblgrave</key>
		<string>uni020D</string>
		<key>odieresismacron</key>
		<string>uni022B</string>
		<key>odotaccentmacron</key>
		<string>uni0231</string>
		<key>odotbelow</key>
		<string>uni1ECD</string>
		<key>ogonekcomb</key>
		<string>uni0328</string>
		<key>ohookabove</key>
		<string>uni1ECF</string>
		<key>ohornacute</key>
		<string>uni1EDB</string>
		<key>ohorndotbelow</key>
		<string>uni1EE3</string>
		<key>ohorngrave</key>
		<string>uni1EDD</string>
		<key>ohornhookabove</key>
		<string>uni1EDF</string>
		<key>ohorntilde</key>
		<string>uni1EE1</string>
		<key>oinvertedbreve</key>
		<string>uni020F</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>oo-sinhala</key>
		<string>uni0D95</string>
		<key>ooMatra-sinhala</key>
		<string>uni0DDD</string>
		<key>oogonek</key>
		<string>uni01EB</string>
		<key>otildemacron</key>
		<string>uni022D</string>
		<key>pa-sinhala</key>
		<string>uni0DB4</string>
		<key>peso</key>
		<string>uni20B1</string>
		<key>pha-sinhala</key>
		<string>uni0DB5</string>
		<key>rVocalic-sinhala</key>
		<string>uni0D8D</string>
		<key>rVocalicMatra-sinhala</key>
		<string>uni0DD8</string>
		<key>ra-sinhala</key>
		<string>uni0DBB</string>
		<key>rcommaaccent</key>
		<string>uni0157</string>
		<key>rdblgrave</key>
		<string>uni0211</string>
		<key>ringcomb</key>
		<string>uni030A</string>
		<key>rinvertedbreve</key>
		<string>uni0213</string>
		<key>rrVocalic-sinhala</key>
		<string>uni0D8E</string>
		<key>rrVocalicMatra-sinhala</key>
		<string>uni0DF2</string>
		<key>ruble</key>
		<string>uni20BD</string>
		<key>rupeeIndian</key>
		<string>uni20B9</string>
		<key>sa-sinhala</key>
		<string>uni0DC3</string>
		<key>schwa</key>
		<string>uni0259</string>
		<key>scommaaccent</key>
		<string>uni0219</string>
		<key>sha-sinhala</key>
		<string>uni0DC1</string>
		<key>softhyphen</key>
		<string>uni00AD</string>
		<key>ssa-sinhala</key>
		<string>uni0DC2</string>
		<key>sunFace</key>
		<string>u1F31E</string>
		<key>sunWithRays</key>
		<string>sun</string>
		<key>ta-sinhala</key>
		<string>uni0DAD</string>
		<key>tcedilla</key>
		<string>uni0163</string>
		<key>tcommaaccent</key>
		<string>uni021B</string>
		<key>tdotbelow</key>
		<string>uni1E6D</string>
		<key>tha-sinhala</key>
		<string>uni0DAE</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>tta-sinhala</key>
		<string>uni0DA7</string>
		<key>ttha-sinhala</key>
		<string>uni0DA8</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
		<key>u-sinhala</key>
		<string>uni0D8B</string>
		<key>uMatra-sinhala</key>
		<string>uni0DD4</string>
		<key>udblgrave</key>
		<string>uni0215</string>
		<key>udotbelow</key>
		<string>uni1EE5</string>
		<key>uhookabove</key>
		<string>uni1EE7</string>
		<key>uhornacute</key>
		<string>uni1EE9</string>
		<key>uhorndotbelow</key>
		<string>uni1EF1</string>
		<key>uhorngrave</key>
		<string>uni1EEB</string>
		<key>uhornhookabove</key>
		<string>uni1EED</string>
		<key>uhorntilde</key>
		<string>uni1EEF</string>
		<key>uinvertedbreve</key>
		<string>uni0217</string>
		<key>uu-sinhala</key>
		<string>uni0D8C</string>
		<key>uuMatra-sinhala</key>
		<string>uni0DD6</string>
		<key>va-sinhala</key>
		<string>uni0DC0</string>
		<key>virama-sinhala</key>
		<string>uni0DCA</string>
		<key>visargaya-sinhala</key>
		<string>uni0D83</string>
		<key>won</key>
		<string>uni20A9</string>
		<key>ya-sinhala</key>
		<string>uni0DBA</string>
		<key>ydotbelow</key>
		<string>uni1EF5</string>
		<key>yhookabove</key>
		<string>uni1EF7</string>
		<key>ymacron</key>
		<string>uni0233</string>
		<key>ytilde</key>
		<string>uni1EF9</string>
		<key>zerowidthjoiner</key>
		<string>uni200D</string>
		<key>zerowidthnonjoiner</key>
		<string>uni200C</string>
	</dict>
</dict>
</plist>
