<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>51BB9282-3B82-4DF1-A67A-294D3E37D73A</key>
		<dict>
			<key>HH</key>
			<string>77</string>
			<key>HV</key>
			<string>113</string>
			<key>OH</key>
			<string>72</string>
			<key>OV</key>
			<string>127</string>
			<key>nV</key>
			<string>106</string>
			<key>nd</key>
			<string>74</string>
			<key>oH</key>
			<string>58</string>
			<key>oV</key>
			<string>117</string>
			<key>tH</key>
			<string>74</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>/sinBha</string>
		<string>ABCDEFCOGHIJKLMNOPQRSTUVWXYZabcdefgh/idotless ijk/k.001 lmnopqrstuunmununumvwxyszsxaZs
examples</string>
		<string>r</string>
		<string>ea/jdotless</string>
		<string>Aabcdefghijklmnopqrstuvwxyz</string>
		<string>/Ygrave</string>
		<string>¼½¾</string>
		<string>·/periodcentered.loclCAT/bulletoperator/bullet</string>
		<string>/Hbar</string>
		<string>/einvertedbreve</string>
		<string>/Acircumflexacute</string>
		<string>Ð</string>
		<string>/Gdotaccent</string>
		<string>zs/lira 910</string>
		<string>ð/Germandbls/dzcaron</string>
		<string><![CDATA[/Odotaccentmacron/odotaccentmacron/f_f/fi/fl/f_f_i/f_f_l Rkt
A&E@*©®/trademark ^]]></string>
		<string>/sinPha</string>
		<string>/sinAa</string>
		<string>/sinKSsI/sinNyIi</string>
		<string>/caroncomb.alt/circumflexcomb</string>
		<string>/caroncomb</string>
		<string>/caroncomb.alt</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>51BB9282-3B82-4DF1-A67A-294D3E37D73A</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>org.unifiedfontobject.normalizer.modTimes</key>
	<string>version: 0.3.3.dev0
1513412095.0 fontinfo.plist
1513412095.0 kerning.plist
1513412095.0 layercontents.plist
1513412095.0 metainfo.plist</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adblgrave</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Ainvertedbreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>DZcaron</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edblgrave</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Einvertedbreve</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idblgrave</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Iinvertedbreve</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Lj</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>NJ</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Eng</string>
		<string>Nj</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odblgrave</string>
		<string>Odieresis</string>
		<string>Odieresismacron</string>
		<string>Odotaccentmacron</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Oinvertedbreve</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Otildemacron</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdblgrave</string>
		<string>Rinvertedbreve</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Uinvertedbreve</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adblgrave</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>ainvertedbreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dzcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edblgrave</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>einvertedbreve</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>schwa</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idblgrave</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>iinvertedbreve</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>lj</string>
		<string>lslash</string>
		<string>m</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>eng</string>
		<string>nj</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odblgrave</string>
		<string>odieresis</string>
		<string>odieresismacron</string>
		<string>odotaccentmacron</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>oinvertedbreve</string>
		<string>omacron</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>otildemacron</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdblgrave</string>
		<string>rinvertedbreve</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotbelow</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udblgrave</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>uinvertedbreve</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ymacron</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>k.001</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>A.sc</string>
		<string>B.sc</string>
		<string>C.sc</string>
		<string>D.sc</string>
		<string>E.sc</string>
		<string>F.sc</string>
		<string>G.sc</string>
		<string>H.sc</string>
		<string>I.sc</string>
		<string>J.sc</string>
		<string>K.sc</string>
		<string>L.sc</string>
		<string>M.sc</string>
		<string>N.sc</string>
		<string>O.sc</string>
		<string>P.sc</string>
		<string>Q.sc</string>
		<string>R.sc</string>
		<string>S.sc</string>
		<string>T.sc</string>
		<string>U.sc</string>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>X.sc</string>
		<string>Y.sc</string>
		<string>Z.sc</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>sinA</string>
		<string>sinAa</string>
		<string>sinAae</string>
		<string>sinAe</string>
		<string>sinAi</string>
		<string>sinAu</string>
		<string>sinBa</string>
		<string>sinBha</string>
		<string>sinCa</string>
		<string>sinCha</string>
		<string>sinDa</string>
		<string>sinDda</string>
		<string>sinDdha</string>
		<string>sinDha</string>
		<string>sinE</string>
		<string>sinEe</string>
		<string>sinFa</string>
		<string>sinGa</string>
		<string>sinGha</string>
		<string>sinHa</string>
		<string>sinI</string>
		<string>sinIi</string>
		<string>sinJa</string>
		<string>sinJha</string>
		<string>sinJnya</string>
		<string>sinKa</string>
		<string>sinKha</string>
		<string>sinLa</string>
		<string>sinLla</string>
		<string>sinMa</string>
		<string>sinMba</string>
		<string>sinNa</string>
		<string>sinNda</string>
		<string>sinNdja</string>
		<string>sinNga</string>
		<string>sinNna</string>
		<string>sinNndda</string>
		<string>sinNnga</string>
		<string>sinNya</string>
		<string>sinO</string>
		<string>sinOo</string>
		<string>sinPa</string>
		<string>sinPha</string>
		<string>sinRa</string>
		<string>sinSa</string>
		<string>sinSha</string>
		<string>sinSsa</string>
		<string>sinTa</string>
		<string>sinTha</string>
		<string>sinTta</string>
		<string>sinTtha</string>
		<string>sinU</string>
		<string>sinUu</string>
		<string>sinVa</string>
		<string>sinVocalicR</string>
		<string>sinVocalicl</string>
		<string>sinVocalicll</string>
		<string>sinYa</string>
		<string>sinvocalicRr</string>
		<string>sinDda.virama</string>
		<string>sinYa.post</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.onum</string>
		<string>one.onum</string>
		<string>two.onum</string>
		<string>three.onum</string>
		<string>four.onum</string>
		<string>five.onum</string>
		<string>six.onum</string>
		<string>seven.onum</string>
		<string>eight.onum</string>
		<string>nine.onum</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>periodcentered.loclCAT</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>sinKundaliya</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>.null</string>
		<string>cedi</string>
		<string>cent</string>
		<string>colonsign</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>euro</string>
		<string>florin</string>
		<string>franc</string>
		<string>guarani</string>
		<string>kip</string>
		<string>lira</string>
		<string>liraTurkish</string>
		<string>manat</string>
		<string>naira</string>
		<string>peseta</string>
		<string>peso</string>
		<string>ruble</string>
		<string>rupeeIndian</string>
		<string>sterling</string>
		<string>won</string>
		<string>yen</string>
		<string>bulletoperator</string>
		<string>divisionslash</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>micro</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>dottedCircle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>numero</string>
		<string>sun</string>
		<string>crescentmoon</string>
		<string>firstquartermoon</string>
		<string>fullmoon</string>
		<string>moonwithface</string>
		<string>sunwithface</string>
		<string>firsttonechinese</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>caroncomb.alt</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>hookabovecomb</string>
		<string>dblgravecomb</string>
		<string>breveinvertedcomb</string>
		<string>commaturnedabovecomb</string>
		<string>horncomb</string>
		<string>dotbelowcomb</string>
		<string>dieresisbelowcomb</string>
		<string>commaaccent</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>brevebelowcomb</string>
		<string>macronbelowcomb</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>sinAnusvara</string>
		<string>sinMatraAa</string>
		<string>sinMatraAae</string>
		<string>sinMatraAe</string>
		<string>sinMatraAi</string>
		<string>sinMatraAu</string>
		<string>sinMatraE</string>
		<string>sinMatraEe</string>
		<string>sinMatraI</string>
		<string>sinMatraIi</string>
		<string>sinMatraLl</string>
		<string>sinMatraLs</string>
		<string>sinMatraO</string>
		<string>sinMatraOo</string>
		<string>sinMatraR</string>
		<string>sinMatraRr</string>
		<string>sinMatraU</string>
		<string>sinMatraUu</string>
		<string>sinVirama</string>
		<string>sinVisarga</string>
		<string>sinMatraAa.virama</string>
		<string>sinMatraE.salt</string>
		<string>sinMatraE.ss01</string>
		<string>sinMatraI.alt</string>
		<string>sinMatraI.alt1</string>
		<string>sinMatraI.alt2</string>
		<string>sinMatraI.alt3</string>
		<string>sinMatraIi.alt</string>
		<string>sinMatraIi.alt1</string>
		<string>sinMatraIi.alt2</string>
		<string>sinMatraIi.alt3</string>
		<string>sinMatraU.alt</string>
		<string>sinMatraU.alt1</string>
		<string>sinMatraU.alt2</string>
		<string>sinMatraU.alt3</string>
		<string>sinMatraUu.alt</string>
		<string>sinMatraUu.alt1</string>
		<string>sinMatraUu.alt2</string>
		<string>sinMatraUu.alt3</string>
		<string>sinBI</string>
		<string>sinBIi</string>
		<string>sinBhI</string>
		<string>sinBhIi</string>
		<string>sinCI</string>
		<string>sinCIi</string>
		<string>sinChI</string>
		<string>sinChIi</string>
		<string>sinDDhI</string>
		<string>sinDDhIi</string>
		<string>sinDI</string>
		<string>sinDIi</string>
		<string>sinDVI</string>
		<string>sinDVIi</string>
		<string>sinDdI</string>
		<string>sinDdIi</string>
		<string>sinDdhI</string>
		<string>sinDdhIi</string>
		<string>sinDhI</string>
		<string>sinDhIi</string>
		<string>sinFI</string>
		<string>sinFIi</string>
		<string>sinGI</string>
		<string>sinGIi</string>
		<string>sinGhI</string>
		<string>sinGhIi</string>
		<string>sinHI</string>
		<string>sinHIi</string>
		<string>sinJI</string>
		<string>sinJIi</string>
		<string>sinJhI</string>
		<string>sinJhIi</string>
		<string>sinJnyI</string>
		<string>sinJnyIi</string>
		<string>sinKI</string>
		<string>sinKIi</string>
		<string>sinKSsI</string>
		<string>sinKSsIi</string>
		<string>sinKVI</string>
		<string>sinKVIi</string>
		<string>sinKhI</string>
		<string>sinKhIi</string>
		<string>sinLI</string>
		<string>sinLIi</string>
		<string>sinLlI</string>
		<string>sinLlIi</string>
		<string>sinMI</string>
		<string>sinMIi</string>
		<string>sinMbI</string>
		<string>sinMbIi</string>
		<string>sinNDI</string>
		<string>sinNDIi</string>
		<string>sinNDhI</string>
		<string>sinNDhIi</string>
		<string>sinNI</string>
		<string>sinNIi</string>
		<string>sinNThI</string>
		<string>sinNThIi</string>
		<string>sinNVI</string>
		<string>sinNVIi</string>
		<string>sinNdI</string>
		<string>sinNdIi</string>
		<string>sinNdjI</string>
		<string>sinNdjIi</string>
		<string>sinNgI</string>
		<string>sinNgIi</string>
		<string>sinNnI</string>
		<string>sinNnIi</string>
		<string>sinNnddI</string>
		<string>sinNnddIi</string>
		<string>sinNngI</string>
		<string>sinNngIi</string>
		<string>sinNyI</string>
		<string>sinNyIi</string>
		<string>sinPI</string>
		<string>sinPIi</string>
		<string>sinPhI</string>
		<string>sinPhIi</string>
		<string>sinRI</string>
		<string>sinRIi</string>
		<string>sinSI</string>
		<string>sinSIi</string>
		<string>sinShI</string>
		<string>sinShIi</string>
		<string>sinSsI</string>
		<string>sinSsIi</string>
		<string>sinTI</string>
		<string>sinTIi</string>
		<string>sinTThI</string>
		<string>sinTThIi</string>
		<string>sinTVI</string>
		<string>sinTVIi</string>
		<string>sinThI</string>
		<string>sinThIi</string>
		<string>sinTtI</string>
		<string>sinTtIi</string>
		<string>sinTthI</string>
		<string>sinTthIi</string>
		<string>sinVI</string>
		<string>sinVIi</string>
		<string>sinYI</string>
		<string>sinYIi</string>
		<string>sinYI.post</string>
		<string>sinYIi.post</string>
		<string>sinDDha</string>
		<string>sinDVa</string>
		<string>sinGDha</string>
		<string>sinKSsa</string>
		<string>sinKVa</string>
		<string>sinNDa</string>
		<string>sinNDha</string>
		<string>sinNTha</string>
		<string>sinNVa</string>
		<string>sinTTha</string>
		<string>sinTVa</string>
		<string>sinTtTtha</string>
		<string>sinK.virama</string>
		<string>sinRakar</string>
		<string>sinReph</string>
		<string>sinRakar.long</string>
		<string>sinRakar.medium</string>
		<string>sinRakar.short</string>
		<string>mooniak</string>
		<string>sinB.virama</string>
		<string>sinBh.virama</string>
		<string>sinBhRa</string>
		<string>sinBhRa.virama</string>
		<string>sinBhRI</string>
		<string>sinBhRIi</string>
		<string>sinBhU</string>
		<string>sinBhUu</string>
		<string>sinBR.virama</string>
		<string>sinBRa</string>
		<string>sinBRI</string>
		<string>sinBRIi</string>
		<string>sinBU</string>
		<string>sinBUu</string>
		<string>sinC.virama</string>
		<string>sinChU</string>
		<string>sinCh.virama</string>
		<string>sinChUu</string>
		<string>sinCR.virama</string>
		<string>sinCRa</string>
		<string>sinCRI</string>
		<string>sinCRIi</string>
		<string>sinCU</string>
		<string>sinCUu</string>
		<string>sinD.virama</string>
		<string>sinDAa.ss01</string>
		<string>sinDAa.virama.ss01</string>
		<string>sinDAae.ss01</string>
		<string>sinDAe.ss01</string>
		<string>sinDDdh.virama</string>
		<string>sinDd.virama</string>
		<string>sinDDhU</string>
		<string>sinDDhUu</string>
		<string>sinDdh.virama</string>
		<string>sinDdhU</string>
		<string>sinDdhUu</string>
		<string>sinDdR.virama</string>
		<string>sinDdRa</string>
		<string>sinDdRI</string>
		<string>sinDdRIi</string>
		<string>sinDdU</string>
		<string>sinDdUu</string>
		<string>sinDh.virama</string>
		<string>sinDhR.virama</string>
		<string>sinDhRa</string>
		<string>sinDhRI</string>
		<string>sinDhRIi</string>
		<string>sinDhU</string>
		<string>sinDhUu</string>
		<string>sinDRI</string>
		<string>sinDRIi</string>
		<string>sinDR.virama</string>
		<string>sinDRa</string>
		<string>sinDra</string>
		<string>sinDrI</string>
		<string>sinDrIi</string>
		<string>sinDU</string>
		<string>sinDV.virama</string>
		<string>sinDUu</string>
		<string>sinDVU</string>
		<string>sinDVUu</string>
		<string>sinDvocR</string>
		<string>sinDYa.post.ss01</string>
		<string>sinDYAa.post.ss01</string>
		<string>sinDvocRr</string>
		<string>sinDYOo.post.ss01</string>
		<string>sinDYu.post.ss01</string>
		<string>sinDYUu.post.ss01</string>
		<string>sinF.virama</string>
		<string>sinFR.virama</string>
		<string>sinFRa</string>
		<string>sinFRI</string>
		<string>sinFRIi</string>
		<string>sinFU</string>
		<string>sinFUu</string>
		<string>sinG.virama</string>
		<string>sinGh.virama</string>
		<string>sinGhR.virama</string>
		<string>sinGhRa</string>
		<string>sinGhRI</string>
		<string>sinGhRIi</string>
		<string>sinGhU</string>
		<string>sinGhUu</string>
		<string>sinGR.virama</string>
		<string>sinGRa</string>
		<string>sinGRI</string>
		<string>sinGRIi</string>
		<string>sinGU</string>
		<string>sinGUu</string>
		<string>sinH.virama</string>
		<string>sinHR.virama</string>
		<string>sinHRa</string>
		<string>sinHRI</string>
		<string>sinHRIi</string>
		<string>sinHU</string>
		<string>sinHUu</string>
		<string>sinJ.virama</string>
		<string>sinJh.virama</string>
		<string>sinJhR.virama</string>
		<string>sinJhRa</string>
		<string>sinJhRI</string>
		<string>sinJhRIi</string>
		<string>sinJhUu</string>
		<string>sinJhU</string>
		<string>sinJny.virama</string>
		<string>sinJnyAa.ss01</string>
		<string>sinJnyAa.virama.ss01</string>
		<string>sinJnyAe.ss01</string>
		<string>sinJnyAee.ss01</string>
		<string>sinJnyRI</string>
		<string>sinJnyRa</string>
		<string>sinJnyR.virama</string>
		<string>sinJnyRIi</string>
		<string>sinJnyU</string>
		<string>sinJR.virama</string>
		<string>sinJnyUu</string>
		<string>sinJRa</string>
		<string>sinJRI</string>
		<string>sinJRIi</string>
		<string>sinJU</string>
		<string>sinJUu</string>
		<string>sinKhR.virama</string>
		<string>sinKhRa</string>
		<string>sinKhRI</string>
		<string>sinKhRIi</string>
		<string>sinKh.virama</string>
		<string>sinKhU</string>
		<string>sinKhUu</string>
		<string>sinKRa</string>
		<string>sinKRI</string>
		<string>sinKRIi</string>
		<string>sinKSs.virama</string>
		<string>sinKSsU</string>
		<string>sinKSsUu</string>
		<string>sinKU</string>
		<string>sinKUu</string>
		<string>sinKV.virama</string>
		<string>sinKVU</string>
		<string>sinKVUu</string>
		<string>sinL.virama</string>
		<string>sinLl.virama</string>
		<string>sinLlU</string>
		<string>sinLlUu</string>
		<string>sinLUu</string>
		<string>sinLU</string>
		<string>sinM.virama</string>
		<string>sinMb.virama</string>
		<string>sinMbU</string>
		<string>sinMbUu</string>
		<string>sinMR.virama</string>
		<string>sinMRI</string>
		<string>sinMRa</string>
		<string>sinMRIi</string>
		<string>sinMUu</string>
		<string>sinMU</string>
		<string>sinN.virama</string>
		<string>sinND.virama</string>
		<string>sinNDAa.ss01</string>
		<string>sinNd.virama</string>
		<string>sinNDAa.virama.ss01</string>
		<string>sinNDAe.ss01</string>
		<string>sinNDAee.ss01</string>
		<string>sinNDh.virama</string>
		<string>sinNDhU</string>
		<string>sinNDhUu</string>
		<string>sinNDRa</string>
		<string>sinNDRI</string>
		<string>sinNDRIi</string>
		<string>sinNDU</string>
		<string>sinNDUu</string>
		<string>sinNdAa.ss01</string>
		<string>sinNdAa.virama.ss01</string>
		<string>sinNdAae.ss01</string>
		<string>sinNdAe.ss01</string>
		<string>sinNdda</string>
		<string>sinNdj.virama</string>
		<string>sinNdjR.virama</string>
		<string>sinNdjRa</string>
		<string>sinNdjU</string>
		<string>sinNdjUu</string>
		<string>sinNdRa</string>
		<string>sinNdU</string>
		<string>sinNdUu</string>
		<string>sinNg.virama</string>
		<string>sinNn.virama</string>
		<string>sinNndd.virama</string>
		<string>sinNnddU</string>
		<string>sinNng.virama</string>
		<string>sinNnddUu</string>
		<string>sinNngUu</string>
		<string>sinNngU</string>
		<string>sinNnU</string>
		<string>sinNnUu</string>
		<string>sinNTh.virama</string>
		<string>sinNThU</string>
		<string>sinNThUu</string>
		<string>sinNU</string>
		<string>sinNUu</string>
		<string>sinNV.virama</string>
		<string>sinNVU</string>
		<string>sinNy.virama</string>
		<string>sinNVUu</string>
		<string>sinNyAa.ss01</string>
		<string>sinNyAa.virama.ss01</string>
		<string>sinNyAe.ss01</string>
		<string>sinNyAee.ss01</string>
		<string>sinNyR.virama</string>
		<string>sinNyRa</string>
		<string>sinNyRI</string>
		<string>sinNyRIi</string>
		<string>sinP.virama</string>
		<string>sinNyU</string>
		<string>sinNyUu</string>
		<string>sinPh.virama</string>
		<string>sinPhU</string>
		<string>sinPhUu</string>
		<string>sinPR.virama</string>
		<string>sinPRa</string>
		<string>sinPRI</string>
		<string>sinPU</string>
		<string>sinPRIi</string>
		<string>sinPUu</string>
		<string>sinR.virama</string>
		<string>sinRAae</string>
		<string>sinRAe</string>
		<string>sinRU</string>
		<string>sinS.virama</string>
		<string>sinRUu</string>
		<string>sinSh.virama</string>
		<string>sinShR.virama</string>
		<string>sinShRa</string>
		<string>sinShRI</string>
		<string>sinShRIi</string>
		<string>sinShU</string>
		<string>sinShUu</string>
		<string>sinSRa</string>
		<string>sinSR.virama</string>
		<string>sinSRI</string>
		<string>sinSRIi</string>
		<string>sinSs.virama</string>
		<string>sinSsR.virama</string>
		<string>sinSsRa</string>
		<string>sinSsRI</string>
		<string>sinSsRIi</string>
		<string>sinSsU</string>
		<string>sinSsUu</string>
		<string>sinSUu</string>
		<string>sinT.virama</string>
		<string>sinSU</string>
		<string>sinTh.virama</string>
		<string>sinThU</string>
		<string>sinThUu</string>
		<string>sinTR.virama</string>
		<string>sinTRa</string>
		<string>sinTRI</string>
		<string>sinTRIi</string>
		<string>sinTTh.virama</string>
		<string>sinTt.virama</string>
		<string>sinTThUu</string>
		<string>sinTThU</string>
		<string>sinTth.virama</string>
		<string>sinTthU</string>
		<string>sinTthUu</string>
		<string>sinTtR.virama</string>
		<string>sinTtRI</string>
		<string>sinTtRa</string>
		<string>sinTtRIi</string>
		<string>sinTtTth.virama</string>
		<string>sinTtTthI</string>
		<string>sinTtTthU</string>
		<string>sinTtTthIi</string>
		<string>sinTtTthUu</string>
		<string>sinTtU</string>
		<string>sinTtUu</string>
		<string>sinTU</string>
		<string>sinTUu</string>
		<string>sinTV.virama</string>
		<string>sinTVU</string>
		<string>sinTVUu</string>
		<string>sinV.virama</string>
		<string>sinVR.virama</string>
		<string>sinVRa</string>
		<string>sinVRI</string>
		<string>sinVRIi</string>
		<string>sinVU</string>
		<string>sinVUu</string>
		<string>sinY.post.virama</string>
		<string>sinY.virama</string>
		<string>sinYU</string>
		<string>sinYU.post</string>
		<string>sinYUu</string>
		<string>sinYUu.post</string>
		<string>sinRU_comma</string>
		<string>sinRUu_comma</string>
		<string>sinRU_period</string>
		<string>sinRUu_period</string>
	</array>
</dict>
</plist>
