html {
    -weasy-hyphens: auto
}

@media print {
body {
  width: auto;
  height: 10cm;
  font-size: 15px;
  line-height: 1.6;
  padding: 0px 0px 0px 0px;
  font-weight: normal;
}


@page{
  width: 10cm;
  height: 20cm;
}

@page:left {
    font-family: 'Maname-Informal';
}

@page:right {
    /*margin-left: 1cm;
    margin-right: 1cm;
    padding-left: 1cm;*/

}

@page:first {
    margin: 1cm 1cm;
    color: green;
    background: white;
}

.page-break	{ display: block; page-break-before: always; }

.label{
    font-size: 10px;
    font-family: 'Inconsloata',monospace;
    color: #555555;
    background: none;
}

/*specfics*/

h1{
  font-size: 20px;
}
