html {
    -weasy-hyphens: auto
}
@media print {
body {
  width: auto;
font-size: 12px;
font-family: 'Maname-Informal';
line-height: 1.6;
padding: 0px 0px 0px 0px;
}
h3, h4 {
  page-break-after: avoid;
}
pre, blockquote {
  page-break-inside: avoid;
}
}
@page{
  font-family: 'Maname-Informal';
}

@page:left {
    margin-left: 3cm;
    margin-right: 2cm;
    padding-right: 1.5cm;
    font-family: 'Maname-Informal';
    @top-left{
        content: "Maname Fonts Specimen";
        vertical-align: bottom;
        border-bottom: 0.5pt solid;
      margin-bottom: 10pt;}
    @bottom-left {
        content: counter(page)
    }
}


@page:right {
    margin-left: 2cm;
    margin-right: 3cm;
    padding-left: 1.5cm;
    @bottom-right {
        content: counter(page)
    }
}

@page:first {
    margin: 1cm 2cm;
    color: green;
    background: red;
}

.page-break	{ display: block; page-break-before: always; }

.label{
font-size: 10px;
font-family: 'Inconsloata',monospace;
color: #555555;
background: none;
}

/*specfics*/

h1{
  font-size: 100px;
}
