@font-face {
    font-family: 'Maname';
    src: url("../../../fonts/ttf/Maname-Regular.ttf")format("trutype");
    font-weight: 400;
}
body {
    /*width: 80vw;*/
    font-size: 30px;
    font-family: 'Maname';
    line-height: 1.6;
    padding: 20px 60px 20px 60px;
}

.label{
font-size: 13px;
font-family: 'Inconsloata',monospace;
color: #555555;
padding: 10px 10px 5px 0px;
background: none;
}
.production-data{

  font-size: 12px;
  font-family: 'Inconsloata',monospace;
  color: #000;
  padding: 10px 10px 5px 0px;
  font-weight: 600;
  background: none;
}
