<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>W</key>
		<integer>-90</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>v</key>
		<integer>-40</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>w</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>d</key>
		<integer>-90</integer>
		<key>e</key>
		<integer>-90</integer>
		<key>g</key>
		<integer>-80</integer>
		<key>i</key>
		<integer>-60</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-50</integer>
		<key>n</key>
		<integer>-90</integer>
		<key>o</key>
		<integer>-91</integer>
		<key>p</key>
		<integer>-70</integer>
		<key>q</key>
		<integer>-70</integer>
		<key>v</key>
		<integer>-71</integer>
		<key>w</key>
		<integer>-45</integer>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-120</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>S</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-40</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-39</integer>
		<key>o</key>
		<integer>-30</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>c</key>
		<integer>-29</integer>
		<key>o</key>
		<integer>-30</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>d</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>d</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
