
@font-face {
    font-family:"Maname";
    src:url("Maname-Regular.woff2") format("woff2"),url("Maname-Regular.woff") format("woff"),url("Maname-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
