<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>fontester - {{ title }} </title>
    <link href="../{{rootPath}}styles/styles.css" rel="stylesheet" type="text/css" />
    <link href="../{{rootPath}}styles/custom_styles.css" rel="stylesheet" type="text/css" />
    <link href="../{{rootPath}}styles/typeplate.css" rel="stylesheet" type="text/css" />
    <link href="../{{rootPath}}adobe-blank/adobe-blank.css" rel="stylesheet" type="text/css" />
    <script src="/socket.io/socket.io.js">
    </script>
    <script src="../{{rootPath}}js/jquery.js">
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    </script>
</head>
<body>
